div {
    border: 1px solid;
    margin: 5px;
    width: 200px;
}

img.PokemonImg {
    width: 100px;
}

img.Indicator {
    width: 20px;
    margin: 0px;
    visibility: visible;
}

h4 {
    margin: 0px;
    text-align: center;
}