<div *ngIf="pokemonDetails !== null && pokemonDetails !== undefined">
    <img class="Indicator" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/ultra-ball.png" alt="collected" />
    <h4>My name is {{ pokemonDetails.name }}.</h4>
    <p>
        <img class="PokemonImg" [src]="pokemonDetails.sprites.front_default" />
        <img [src]="pokemonDetails.sprites.back_default" />
    </p>
    <button type="button" (click)="handleAdd2CollectionClick()">
        Add to my collection
    </button>
</div>
